* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 20px 30px 30px 30px;
  font-family: "Signika Negative", sans-serif;
  background-image: url("fondoblanco.jpeg");
}

:root{
  --boxShadow: #2b2b2b;
}

.gridContainer {
  font-family: "Asap", sans-serif;
  display: grid;
  height: 100%;
  width: 100%;
  min-width: none;
  grid-template:
    "mainTop mainTop" 100px
    "contacto contacto" 40px
    "mainLeft aside" auto /
    44% auto;
}

.gridContainer > * {
  border-radius: 3px;
}

.mainTop {
  grid-area: mainTop;
  text-align: center;
  margin: 0px 20px 0px 20px;
 }

.aboutMe{
  font-style: italic;
  text-align: center;
  font-size: .90rem;
  margin: 0 auto;
  padding: 10px 5px 10px 5px;
}

.contacto {
  grid-area: contacto;
  box-shadow: 0px 3px 6px .8px #2b2b2b;
  margin: 0px 20px 0px 20px;
  border: 2px solid #2b2b2b;
  border-radius: 14px;
  padding-top: 8px;
}

.nav{
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}

.navItem{
  font-weight: 600;
}

.mainLeftContainer {
  grid-area: mainLeft;
  margin: 20px 20px 0px 20px;
  border: 2px solid #2b2b2b;
  box-sizing: border-box;
  border-radius: 25px;
  box-shadow: 0px 3px 6px .8px var(--boxShadow);
}

.tecnologias {
  padding-top: 20px;
  text-align: center;
  font-size: 0.95em;
}

.tecnologias .iconsTecnologias {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.iconsTecnologias img {
  height: 50px;
}

.workExperience {
  text-align: center;
  position: relative;
  font-size: 0.95em;
  padding-top: 20px;
}

.titleText {
  font-size: 0.95rem;
}

.experiences {
  display: inline-flex;
  flex-direction: column;
  margin: 0px 90px 0px 90px;
  font-size: 0.9rem;
  text-align: left;
  padding-bottom: 20px;
  flex-wrap: wrap;
}

.experiences p {
  font-size: 0.85rem;
  color: #353535;
}

.experiences b {
  color: #202020;
  font-size: 0.9rem;
}

.aside {
  grid-area: aside;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 20px 20px 0px 20px;
  border: 2px solid #2b2b2b;
  border-radius: 25px;
  box-shadow: 0px 3px 6px .8px var(--boxShadow);
}

.expContent {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.titleContent {
  display: inline-flex;
  position: relative;
  left: 5px;
  flex-direction: row;
  flex-wrap: wrap;
  width: 43%;
  justify-content: center;
}

.swapButton {
  appearance: none;
  position: relative;
  top: 4.2px;
  content: url(icons/alter.png);
  height: 20px;
  width: 20px;
  box-shadow: 0px 0px 4px 0.2px rgba(0, 0, 0, 0.753);
  padding: 2px;
  border-radius: 100px;
}

.academyButton {
  position: relative;
  top: 4.2px;
  content: url(icons/alter.png);
  height: 20px;
  width: 20px;
  box-shadow: 0px 0px 4px 0.2px rgba(0, 0, 0, 0.781);
  padding: 2px;
  border-radius: 100px;
}

.swapButton:hover {
  background-color: #92b6ec8f;
}

.swapButton:active {
  background-color: #759cd6e0;
}

.academyButton:hover {
  background-color: #92b6ec8f;
}

.academyButton:active {
  background-color: #759cd6e0;
}

.swapButton:checked {
  appearance: none;
}
.academyButton:checked {
  appearance: none;
}

.checkButton {
  appearance: none;
  position: relative;
  left: 6px;
  content: url(icons/button-more.png);
  height: 20px;
  width: 20px;
  box-shadow: 0px 0px 2px 0.1px rgba(0, 0, 0, 0.753);
  border-radius: 100px;
}

.checkButton:checked {
  appearance: none;
  content: url(icons/minus.png);
  box-shadow: 0px 0px 2px 0.1px rgba(0, 0, 0, 0.753);
  border-radius: 100px;
}

.hiddenText {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: 0.25s ease;
}

.checkButton:checked ~ .hiddenText {
  top: 50px;
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}
